* {
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

.maincontent {
  display: flex;
  justify-content: center;
  height: 500px;
}

.button {
  height: 50px;
  width: 100px;
  margin: 5px;
}

.player {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.player > p {
  font-size: 24px;
}

.randomcard {
  font-size: 38px;
  text-align: center;
}

.results {
  font-size: 24px;
  text-align: center;
  margin-top: 50%;
}

.hidden {
  display: none;
}

.bets {
  font-size: 24px;
  text-align: center;
}
